body {
    color: #fff;
}
.bg-0 {
    background: linear-gradient(90deg, rgba(61,64,70,1) 30%, rgba(72,88,106,1) 59%, rgb(112, 127, 143) 87%);
    box-shadow: -1px 4px 63px -1px rgba(0,0,0,0.51);
}
.bg-1 {
    background-color: #222831;
    height: 100vh;
    overflow: auto;
    padding-top: 40vh;
}
.bg-2 {
    background-color: #393E46;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.bg-3 {
    background-color: #222831;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.bg-4 {
    background-color: #254B62;
    box-shadow: 3px -7px 34px -6px rgba(0,0,0,0.54);
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #6da1e0 !important;
}
.navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(70, 68, 68);
}
a {
    color: white !important;
}
